@fonts-path: '../fonts';

@img-path: '../img';
@img-pic-path: '../img/pic';


@font-base: 'Arial';

@font-size-title: 72px;
@font-size-search: 15px;
@font-size-big-book: 24px;

@font-color-search: #bfbfbf;
@font-color-summary: #333333;


