body {
  margin: 0;
  padding-top: 0;
  font-family: @font-base;
}


@font-face {
  font-family: ALS Fuchsia;
  src: url('@{fonts-path}/alsfuchsia.otf');
}

.wrap {
  max-width: 1305px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0  2.5% 200px 2.5%;
  background: url("@{img-path}/footer_img.png") no-repeat 50% 100%;
}


p, img,
input,
button, {
  margin: 0;
  padding: 0 ;
}
input:focus,
button:focus{
  outline: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}


.link-text {
  color: @font-color-link;
}

.link-text:hover {
  color: @font-color-link-hover;
}


@media (max-width: (@screen-lg)){
  .wrap {
    max-width: 700px;
  }

}




